:root {
    --primary: #1090CB;
    --secondary: #1090CB1A;   
    --solo: #F4F4F4;
    --color: #08D3BB;
}
.btnn{
    background-color: var(--primary);
    color: white;
    border: none;  
}
.view{
    color: var(--primary);
    border-color: var(--primary);
    background-color: #fff;
}
.background{
background-color: var(--secondary);
}
.pic{
    background-color: #EFEAFF;
}
.picc{
    background-color: #DAE6FF;
}
.blue{
    color: var(--primary);
}
.color{
    background-color: var(--primary) !important;
}
.solution{
    background-color: var(--solo) !important;
}
.gap{
    gap: 200px !important;
}
.butt{
    background-color: var(--solo);
    color: var(--primary);
}
.imgg{
    background-color: var(--secondary) !important;
}
.icon{
    color: var(--primary) !important;
}
.first{
    background-image: url(./images/Rectangle\ 6.png) !important;
}
.second{
    background-image: url(./images/Rectangle\ 7.png) !important;
}
.third{
    background-image: url(./images/Rectangle\ 8.png) !important;
}
.fourth{
    background-image: url(./images/Rectangle\ 9.png) !important;
}
.bluee{
    background-image: url(./images/Rectangle\ 13.png) !important;
}
html, body {
    overflow-x: hidden;
}
.foot{
    justify-content: center !important;
}
.ins{
    background-color: black !important;
}
.seecond{
    background-image: url(./images/Ellipse\ 3.png) !important;
}
.picc{
    background-image: url(./images/Ellipse\ 3\ \(1\).png);
}
.thirdd{
    background-image: url(./images/Ellipse\ 1.png) !important;
}